.wrapper {
    width: 1024px;
    height: 1800px;
    margin: 0 auto;
    border: 0px solid #cccccc;
}

.topline {
    height: 18px;
    background-image: url("imgBax/toh_line1.png");
    background-repeat: repeat-x;
    background-color: #cccccc;
}

/*початок блока header*/
.header {
    height: 157px;
    border: 0px solid #cc0000;
    position: relative;
}

.logo {
    width: 214px;
    height: 65px;
    background-image: url("imgBax/logo.png");
    background-repeat: no-repeat;
    border: 0px solid #cccccc;
    position: absolute;
    left: 69px;
    top: 35px;
}

.logo a {
    display: block;
    height: 65px;
    cursor: pointer;
}

.fuq {
    width: 82px;
    height: 164px;
    background-image: url("imgBax/fuq.png");
    background-repeat: no-repeat;
    border: 0px solid #cccccc;
    position: absolute;
    right: 42px;
    top: -18px;
}

.fuq a {
    display: block;
    height: 164px;
    cursor: pointer;
}

.fuq a:hover {
    background-image: url("imgBax/faq.png");
    background-repeat: no-repeat;
}

.nav {
    width: 520px;
    height: 30px;
    border: 0px solid #cccccc;
    position: absolute;
    left: 346px;
    top: 56px;
}

.nav li {
    float: left;
    list-style-type: none;
    margin-left: 25px;
}

.nav li a {
    text-decoration: none;
    font: 15px Arial, sans-serif;
    color: #3f3f3f;
    padding: 0;
}

.nav li a.active, .nav li a:hover {
    color: #2c789c;
    background-color: inherit;
}

/*кінець блока header*/
/*початок блока people*/

.people {
    height: 404px;
    border: 0px solid #000000;
    background-image: url("imgBax/people_Bg.jpg");
    background-repeat: no-repeat;
    background-position: 73px 61px;
    position: relative;
}

.people_img {
    width: 400px;
    height: 395px;
    border: 0px solid #cccccc;
    position: absolute;
    right: 41px;
    bottom: 5px;
    background-image: url("imgBax/people_im.jpg");
    background-repeat: no-repeat;
    transition: all 0s;
}

.people_img_2 {
    width: 482px;
    height: 391px;
    border: 0px solid #cccccc;
    position: absolute;
    right: 23px;
    bottom: 5px;
    background-image: url("imgBax/people_im_2.png");
    background-repeat: no-repeat;
}

.slogan {
    width: 357px;
    height: 55px;
    border: 0px solid #cccccc;
    position: absolute;
    right: 600px;
    bottom: 140px;
    text-align: right;
    cursor: pointer;
}

.slogan h1 {
    font: bold 23px Arial, sans-serif;
    text-transform: uppercase;
    color: #1d1e1b;
    margin-top: 3px;
    margin-right: 27px;
    margin-bottom: auto;
}

.slogan h1:hover{
  color: red;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}


.slogan p {
    font: 16px Arial, sans-serif;
    color: #2c789c;
    margin-right: 27px;
}

.slogan p:hover {
    color: yellow;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    display: inline-block;
    position: absolute;
    bottom: 49px;
    left: 17px;
    z-index: 2;
}

.arrow-down:hover {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid darkgreen;
}

.arrow-down p {
    width: 247px;
    color: red;
    position: absolute;
    z-index: 3;
    bottom: 12px;
    left: -15px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.arrow-down p:hover {
    width: 280px;
    font-size: 20px;
    color: green;
    bottom: 22px;
}

.vertical_line_left {
    height: 96px;
    width: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px solid #cc0000;
    background-image: url("imgBax/vert_line_left.png");
    background-repeat: repeat-y;
    position: absolute;

}

.vertical_line_right {
    height: 96px;
    width: 19px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0px solid #cc0000;
    background-image: url("imgBax/vertical_line.png");
    background-repeat: repeat-y;

}

/*кінець блока людей*/
/*початок кольорового блоку*/
.colors {
    height: 147px;
    border: 0px solid #cc0000;
    background-image: url("imgBax/colors_bg.png");
    background-repeat: repeat-y;
    padding: 0 48px 0 41px;
    color: #ffffff;
}

.colors h2 {
    font-size: 19px;
    margin-top: 16px;
    font: 19px Arial, sans-serif;
}

.colors a {
    display: block;
    margin-bottom: 11px;
    font: 16px Arial, sans-serif;
    cursor: pointer;
    color: #858685;
    text-decoration: none;
}

.colors a:hover {
    color: brown;
}

.blue {
    width: 295px;
    float: left;
    background-color: #2c789c;
    background-image: url("imgBax/e_1.png");
    background-repeat: no-repeat;
    background-position: 250px 10px;
    padding-left: 10px;
}

.blue h2 {
    /*margin-left: 15px;*/
}

.blue p {
    margin-bottom: 10px;
}

.blue a {
    background-image: url("imgBax/colors_button.png");
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin-left: 15px;
    cursor: pointer;
}

.yellow {
    width: 321px;
    float: left;
    background-color: #e5b00d;
    background-image: url("imgBax/e_2.png");
    background-repeat: no-repeat;
    background-position: 265px 10px;
    position: relative;
}

.yellow h2 {
    margin-left: 20px;
}

.yellow a {
    background-image: url("imgBax/colors_button.png");
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin-left: 43px;
}

.clear {
    clear: both;
}

.romb_1 {
    width: 27px;
    height: 55px;
    position: absolute;
    background-image: url("imgBax/el_4.png");
    background-repeat: no-repeat;
    left: -3px;
    top: 45px;
}

.yellow p, .green p {
    margin-left: 33px;
    margin-bottom: 10px;
}

.green {
    width: 305px;
    float: left;
    background-color: #97ba15;
    background-image: url("imgBax/e_3.png");
    background-repeat: no-repeat;
    background-position: 253px 10px;
    position: relative;
}

.green h2 {
    margin-left: 26px;
}

.green a {
    background-image: url("imgBax/colors_button.png");
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin-left: 43px;
}

.romb_2 {
    width: 28px;
    height: 57px;
    position: absolute;
    background-image: url("imgBax/el_5.png");
    background-repeat: no-repeat;
    left: -4px;
    top: 38px;
}

.blue p, .yellow p, .green p {
    height: 50px;
    overflow: hidden;
    font: 16px Arial, sans-serif;
    line-height: 17px;
}

/*кінець кольорового блоку*/
/*початок чорнобілого блоку*/
.black_white {
    height: 270px;
    border: 0px solid #cccccc;
    background-image: url("imgBax/colors_bg.png");
    background-repeat: repeat-y;
    position: relative;
    padding: 0px 65px 30px 57px;
}

.blok_left {
    position: absolute;
    width: 35px;
    height: 100px;
    background-image: url("imgBax/blok_left.png");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
}

.blok_right {
    position: absolute;
    width: 32px;
    height: 100px;
    background-image: url("imgBax/blok_right.png");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
}

.bottom_line {
    position: absolute;
    width: 962px;
    height: 1px;
    background-image: url("imgBax/bottom_line.png");
    background-repeat: repeat-x;
    right: 32px;
    bottom: 0;
}

.content {
    width: 652px;
    height: 220px;
    border: 0px solid #cc0000;
    float: left;
}

.form {
    width: 240px;
    height: 220px;
    border: 0px solid #cc0000;
    float: left;
}

.content h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-left: 19px;
}

.content p.strong {
    font: 16px Arial, sans-serif;
    color: #000000;
    padding-bottom: 9px;
}

.content p {
    font: 16px Arial, sans-serif;
    color: #7b7d78;
}

.hightlight {
    background-color: #000;
    color: #ffffff !important;
}


.content a {
    width: 108px;
    height: 29px;
    background-image: url("imgBax/Black_button.png");
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin-left: 43px;
    display: block;
}

.form input {
    width: 262px;
    height: 32px;
    border: 1px solid #dedede;
    margin-bottom: 11px;
    font: 16px Arial, sans-serif;
    padding-left: 15px;
    color: #dedede;
}

.form input.button_send {
    width: 105px;
    height: 36px;
    border: none;
    margin-top: 21px;
}

.form h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-left: 19px;
    margin-top: 16px;
}

/*кінець чорнобілого блоку*/
/*початок темного блоку*/
.dark {
    height: 430px;
    padding: 13px 30px 14px 41px;
    background-color: #1d1e1b;
}

.planning, .team, .blog {
    border: 0px solid #cccccc;
    height: 403px;
    float: left;
}

.planning, .team {
    width: 289px;
}

.blog {
    width: 297px;
}

.team, .blog {
    margin-left: 39px;
}

.dark h3 {
    color: #ffffff;
    height: 27px;
    font: 19px Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.img_dark1 {
    width: 289px;
    height: 115px;
    background-image: url("imgBax/dark1.jpg");
}

.planning p, .team p {
    height: 204px;
    width: 290px;
    color: #7d8179;
    font: 12px Arial, sans-serif;
    margin-left: 0;
    padding-top: 9px;
    letter-spacing: 0.25px;
    margin-bottom: 25px;
}

.planning a, .team a {
    width: 110px;
    height: 30px;
    background-image: url("imgBax/blue_button.png");
    background-repeat: no-repeat;
    padding: 4px 10px;
    display: block;
}

.img_dark2 {
    width: 289px;
    height: 115px;
    background-image: url("imgBax/dark2.jpg");
}

.post_1, .post_2 {
    height: 125px;
    border: 0px solid #cccccc;
}

.post_3 {
    height: 126px;
    border: 0px solid #cccccc;
}

.blog .blog_img_1 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url("imgBax/post_1.jpg");
    margin-right: 10px;
}

.blog h3 span {
    color: #255268;
    text-transform: lowercase;
    margin-left: 11px;
}

.blog h4 {
    font: bold 15px Arial, sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    margin: 0;
}

.blog p {
    font: 12px Arial, sans-serif;
    color: #7d8179;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.blog a {
    font: 12px Arial, sans-serif;
    color: #296683;
    text-decoration: underline;
}

.blog h4 span {
    font: bold 12px Arial, sans-serif;
    color: #2c789c;
}

.blog .blog_img_2 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url("imgBax/post_2.jpg");
    margin-right: 10px;
}

.blog .blog_img_3 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url("imgBax/post_3.jpg");
    margin-right: 10px;
}

/*кінець темного блоку*/
/*початок сірого блоку*/
.gray {
    background-color: #2e302c;
    padding: 15px 0px 35px 40px;
}

.about {
    width: 300px;
    height: 165px;
    border: 0px solid #cccccc;
    float: left;
}
.about a {
    color: #2c789c;
    text-decoration: none;
    font: 16px Arial, sans-serif;
}

.partners {
    width: 653px;
    border: 0 solid #cccccc;
    float: left;
    margin-left: 26px;
}

.gray:after {
    content: '';
    display: block;
    clear: both;
}

.gray ul {
    margin-bottom: 0;
}

.gray h2 {
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 3px 0;
}

.gray p, .gray ul {
    font: 12px Arial, sans-serif;
    color: #94998f;
    margin-left: 0;
}
.gray p {
    letter-spacing: -0.7px;
}

.partners ul {
    float: left;
    letter-spacing: -0.65px;
}

.partners li {
    margin-bottom: 14px;
    list-style-type: none;
    background-image: url("imgBax/ul_plus.png");
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding: 0 32px;
}

.partners .ul_left {
    padding-left: 20px;
}

/*кінець сірого блоку*/
/*початок футера*/
.footer {
    background-color: #131412;
    position: relative;
    padding: 46px 39px;
}

.copy {
    float: left;
}

.copy, .copy a {
    font: 13px Arial, sans-serif;
    color: #828480;
}

.foot_nav {
    width: 520px;
    border: 0 solid #cccccc;
    float: right;
}

.foot_nav li {
    float: right;
    list-style-type: none;
}

.foot_nav li a {
    text-decoration: none;
    font: 13px Arial, sans-serif;
    color: #7c8078;
    margin-left: 22px;
}

.foot_nav li a.foot_active, .foot_nav li a:hover {
    color: #2c789c;
    background-color: inherit;
}

.foot_social {
    width: 200px;
    height: 23px;
    border: 0px solid #cccccc;
    /* position: absolute; */
    /* right: 37px; */
    /* bottom: 7px; */
    float: right;
    margin-top: 11px;
}

.foot_social li {
    float: right;
    list-style-type: none;
}

.s_1 {
    width: 21px;
    height: 22px;
    background-image: url("imgBax/foot_s_1.png");
    background-repeat: no-repeat;
    margin-left: 6px;
}
.s_2 {
    width: 27px;
    height: 22px;
    background-image: url("imgBax/foot_s_2.png");
    background-repeat: no-repeat;
    margin-left: 6px;
}
.s_3 {
    width: 21px;
    height: 22px;
    background-image: url("imgBax/foot_s_3.png");
    background-repeat: no-repeat;
    margin-left: 6px;
}
.s_4 {
    width: 61px;
    height: 22px;
    background-image: url("imgBax/foot_s_4.png");
    background-repeat: no-repeat;
    margin-left: 6px;
}
.foot_social li a {
    height: 23px;
    display: block;
    cursor: pointer;
}

.form input::-webkit-input-placeholder {
    color: red;
}

.form input:-moz-placeholder { /* Firefox 18- */
    color: red;
}

.form input::-moz-placeholder {  /* Firefox 19+ */
    color: red;
}

.form input:-ms-input-placeholder {
    color: red;
}




.footer_wrapper_top:after, .footer_wrapper_bottom:after {
    content: '';
    clear: both;
    display: block;
}