@import url(https://www.fontsquirrel.com/fonts/lato);

@font-face {
    font-family: Lato; /* Имя шрифта */
    src: url(./fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
}

@font-face {
    font-family: Lato; /* Имя шрифта */
    src: url(./fonts/Lato-Light.ttf); /* Путь к файлу со шрифтом */
    font-weight: 400;
}

body {
    font-family: Lato, sans-serif;
    color: #818181;
    font-weight: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease-out;
}

.top_nav_wrapper {
    background-image: url("frcst_img/Bg.jpg");
    background-repeat: no-repeat;
    background-position: -170px -6px;
    position: relative;
}

.top_nav_main {
    padding-top: 42px;
}

#main-nav {
    display: inline;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

#drbt button {
    border: none;
    background-color: inherit;
    padding: 17px;
    position: relative;
    outline: none;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    display: inline-block;
    position: absolute;
    bottom: 37px;
    left: 17px;
    z-index: 2;
}


.arrow-down p {
    width: 190px;
    color: red;
    position: absolute;
    z-index: 3;
    bottom: 12px;
    left: -15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.arrow-down p:hover {
    color: #ffff00;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 2);
    text-decoration: none;
}
.arrow-down:hover {
    border-top: 20px solid #ffff00;
}


#drbt button:hover {
    background-color: #adadad;
}
#drbt button img {
    margin-bottom: 5px;
}

.dropdown-menu li {
    width: 240px;
    background-color: #5cc4ef;
}
.dropdown-menu li a:hover {
    background-color: #97ba15;
}

#main-nav_c {
    text-align: center;
    text-transform: uppercase;
    padding-top: 16px;
}

#main-nav_c span {
    font-weight: 600;
}

#main-nav_r {
    display: inline;
    padding-top: 1px;
}

#main-nav_r ul li {
    display: inline-block;
    margin: 0 10px;
}

#main-nav_r ul a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

#main-nav_r ul .active {
    color: #9f9fa1;
}

#main-nav_r ul a:hover {
    color: #ffff00;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 2);
    text-decoration: none;
}

#main-nav_r button {
    width: 132px;
    padding: 12px 0;
    color: #ffffff;
    background-color: #9e9e9e;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 500 16px 'Lato Regular', sans-serif;
    outline: none;
}

#main-nav_r i {
    padding-right: 15px;
    font-size: 21px;
}

#main-nav_r button:hover {
    color: #5cb85c;
    background-color: #245269;
}
#top_get:hover {
  color: #97ba15;
}

#main-nav_r .nav > li > a {
    position: relative;
    display: block;
    padding: 0 !important;
}

#main-nav .nav > li > a {
    position: relative;
    display: block;
    padding: 17px;
}

/*styles for header*/

/*.Bg_img {
    background-image: url("frcst_img/hed_tel.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
}*/

.header {
    padding: 71px 18% 34% 18%;
}

.header h1 {
    font: 500 62px 'Varela', sans-serif;
    border: none !important;
    text-align: center;
    margin-bottom: 37px;
}

.header p {
    font: 500 20px 'Roboto', sans-serif;
    color: #8c8f94;
    text-align: center;
}

.header a {
    width: 206px;
    padding: 15px 43px;
    color: #26272d;
    border-radius: 22px;
    border: 1px solid #dadcdf;
    background-color: inherit;
    cursor: pointer;
    font: 500 16px 'Lato Regular', sans-serif;
    display: block;
    margin: 60px auto 40px auto;
}
.header i {
    margin-right: 14px;
    font-size: 12px;
}

.hightlight_1 {
    color: #ffff00 !important;
    background-color: #4cae4c !important;
}

.hightlight_2 {
    background-color: #4cae4c !important;
    border: 3px solid #204d74 !important;
    text-decoration: none !important;
}

.header img {
    width: 29%;
    height: auto;
    border-top-left-radius: 14%;
    border-top-right-radius: 14%;
    position: absolute;
    left: 35.5%;
    bottom: 0;
}


.lft_1 {
    position: relative;
}

.lft_1 img {
    position: absolute;
    left: -50%;
    top: 82px;
}

.lft img, .rght {
    padding-top: 22%;
}

.lft h3, .rght h3 {
    font: 500 26px 'fonts-lato-light', sans-serif;
    color: #26272d;
    padding: 6% 0;
}

.lft p, .rght p {
    font: 500 18px 'fonts-lato-regular', sans-serif;
    color: #8c8f94;
    text-align: left;
}

.lft p:last-child, .rght p:last-child {
    padding-top: 5%;
}

#hr_ln {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 3%;
    margin-top: 9%;
}

.rght_1 {
    padding-left: 10%;
}

.rght_1 h2, .lft_2 h2 {
    font: 500 42px 'Varela', sans-serif;
    color: #26272d;
    padding: 36% 0 11% 0;
}

.rght_1 p, .lft_2 p {
    font: 500 20px 'fonts-lato-regular', sans-serif;
    color: #94979b;
    padding-bottom: 4%;
    text-align: left;
}

.rght_1 p:last-of-type {
    padding-bottom: 11%;
}

.rght_1 input:first-of-type {
    width: 200px;
    padding: 12px 51px 12px 0px;
    color: #ffffff;
    background-color: #267df4;
    background-image: url("frcst_img/inhut_arrow.png");
    background-repeat: no-repeat;
    background-position: 171px 12px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 600 14px 'fonts-lato', sans-serif;
    margin-bottom: 8%;
}

.rght_1 input:last-of-type {
    width: 141px;
    padding: 15px 25px;
    color: #26272d;
    border-radius: 22px;
    border: 1px solid #dadcdf;
    background-color: inherit;
    cursor: pointer;
    font: 600 16px 'fonts-lato', sans-serif;
    margin-left: 3%;
}

.lft_2 {
    padding-right: 10%;
    padding-bottom: 36%;
}

.lft_2 h2 {
    padding: 78% 0 10% 0;
}

.lft_2 p:first-of-type {
    padding-bottom: 4%;
}

.lft_2 p:last-of-type {
    font: 700 12px 'lato-bold', sans-serif;
    text-transform: uppercase;
    color: #26272d;
    padding-top: 10%;
    padding-bottom: 3%;
}

.wrap_cont_3 {
    background-image: url("frcst_img/map.png");
    background-repeat: no-repeat;
    background-position: 146% 72%;
}

.lft_2 a {
    padding-right: 5%;
}

.wrap_cont_4 {
    background-color: #f5f5f8;
    padding-bottom: 10%;
}

.wrap_cont_4 h2 {
    font: 500 42px 'Varela', sans-serif;
    color: #26272d;
    padding-top: 11%;
    text-align: center;
}

.wrap_cont_4 h2:after {
    width: 50px;
    content: '';
    display: block;
    margin: 3% auto 0 auto;
    border-bottom: 2px solid #267df4;
}

.wrap_cont_4 p {
    font: 700 12px 'lato-bold', sans-serif;
    text-transform: uppercase;
    color: #26272d;
    padding-top: 2.5%;
    padding-bottom: 3%;
    text-align: center;
}

.l_4 {
    position: relative;
}

.im_before img {
    position: absolute;
    content: '';
    display: none;
    top: 14%;
    left: -65%;
    width: 67%;
    height: auto;
}

.l_4 img, .c_4 img, .r_4 img {
    width: 100%;
    height: auto;
}

.l_4 img, .r_4 img {
    padding-top: 24%;
}

.l_4, .c_4, .r_4 {
    position: relative;
}

.c_4_in {
    width: 100%;
    height: 100%;
    padding: 34% 15%;
    position: absolute;
}

.c_4 p {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 36%;
    font: 600 13px 'fonts-lato-regular', sans-serif;
    text-transform: none;
}

.l_4 a {
    position: absolute;
    width: 69%;
    padding: 5%;
    border-radius: 22px;
    left: 14%;
    bottom: 13%;
}

.form h5 {
    padding-top: 43%;
    text-transform: uppercase;
    font: 600 10px 'fonts-lato-regular', sans-serif;
    color: #000000;
}

.form p {
    margin-top: 6%;
    text-align: center;
    padding: 0 !important;
    margin-bottom: 13%;
    font: 500 12px 'fonts-lato-regular', sans-serif;
    text-transform: none;
    color: #a7a8aa;
}

.form {
    text-align: center;
}

.form input {
    width: 80%;
    height: auto;
    border: none;
    background-color: inherit;
    margin-bottom: 5%;
    font: 500 13px 'fonts-lato-regular', sans-serif;
    color: #000;
    text-align: center;
}

.form input:last-of-type {
    width: 95%;
    padding: 5%;
    color: #ffffff;
    background-color: #267df4;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 600 10px 'fonts-lato', sans-serif;
    margin-bottom: 8%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form input:focus {
    background-color: #d9edf7;
}

.r_in {
    width: 100%;
    height: 100%;
    position: absolute;
}

#datepckr {
    padding-top: 54%;
    margin-left: 15%;
}

#d_inpt input {
    text-align: center;
    cursor: pointer;
}

.im_after img {
    position: absolute;
    content: '';
    display: none;
    top: 0;
    right: -68%;
    width: 67%;
    height: 100%;
}

.get_5 h4 {
    font: 500 12px 'fonts-lato-regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15%;
}

.get_5 h4 span {
    font: 600 12px 'fonts-lato-bold', sans-serif;
}

.get_5 h2 {
    font: 500 42px 'Varela', sans-serif;
    color: #26272d;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
}

.get_5 h2:after {
    display: none;
}

.bordr {
    width: 40%;
    height: 49px;
    border: 1px solid #cbcbce;
    margin: 0 auto;
    border-radius: 37px;
}

.get_5 input:first-of-type {
    width: 35%;
    border: none;
    box-shadow: none;
    color: #3a3d4b;
    background: inherit;
    font: 500 14px 'Lato', sans-serif;
    margin-top: 5px;
    margin-left: 14px;
    float: left;
}

.get_5 input:last-of-type {
    width: 165px;
    height: 42px;
    padding: 12px 51px 12px 30px;
    color: #bccabb;
    background-color: #6fc754;
    background-image: url("frcst_img/inhut_arrow.png");
    background-repeat: no-repeat;
    background-position: 129px 14px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 600 14px 'Lato', sans-serif;
    float: right;
    margin-top: 3px;
    margin-right: 4px;
}

.get_5 h4:last-of-type {
    color: #cacbd1;
    font: 500 12px 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
}

.get_5 button {
    width: 210px;
    padding: 3px 0 13px 0;
    color: #ffffff;
    background-color: #131315;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font: 500 23px 'Lato', sans-serif;
    margin: 0 auto;
    display: block;
    padding-right: 14px;
    margin-top: 20px;
    line-height: 22px;
}

.get_5 button span {
    font: 500 12px 'Lato', sans-serif;
}

.get_5 button i {
    display: block;
    float: left;
    font-size: 34px;
    margin-top: 10px;
    margin-left: 28px;
}

.get_5 button:hover {
    color: #5cb85c;
    background-color: #245269;
}

.arr {
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
}

.arr_l {
    position: absolute;
    left: -245%;
    font-size: 47px;
    font-weight: 100;
    top: 226px;
    color: #d4d4d5;
}
.arr_r {
    position: absolute;
    left: 330%;
    font-size: 47px;
    font-weight: 100;
    top: 226px;
    color: #d4d4d5;
}

.UI_kit h2, p {
    text-align: center;
}

.UI_kit h2 {
    color: #26272d;
    margin-top: 10%;
}
#UI_kit_p {
    width: 565px;
    margin: 5% auto 0 auto;
}
.UI_kit p {
    color: #8c8f94;
    font: 500 20px 'Lato', sans-serif;
}
.UI_kit img {
    display: block;
    margin: 3% auto 0 auto;
}
.UI_kit h4 {
    text-align: center;
    color: #8c8f94;
    font: 700 12px 'Lato', sans-serif;
    margin-top: 6%;
    margin-bottom: 6%;
    text-transform: uppercase;
}

#choose {
    background-color: #f4f4f5;
    padding: 10% 0 19% 0;
}
.Choose h2 {
    font: 500 42px 'varelaRound', sans-serif;
    color: #26272d;
    margin-top: 11%;
    margin-bottom: 18%;
}
.Choose h4 {
    color: #26272d;
    font: 700 12px 'Lato', sans-serif;
    margin-top: 6%;
    margin-bottom: 3%;
    text-transform: uppercase;
}
.bordr_2 {
    width: 78%;
    height: 50px;
    border: 1px solid #cbcbce;
    border-radius: 37px;
    margin-bottom: 21%;
}
.bordr_2 input:first-of-type {
    width: 130px;
    height: 42px;
    padding: 12px 51px 12px 30px;
    color: #26292c;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 500 14px 'Lato', sans-serif;
    margin-top: 3px;
    margin-left: 3px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.indivd {
    background-color: #ffffff;
}
.bordr_2 input:last-of-type {
    width: 115px;
    height: 42px;
    padding: 12px 51px 12px 30px;
    background-color: inherit;
    color: #a2a3a5;
    border-radius: 22px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font: 600 14px 'Lato', sans-serif;
    margin-top: 3px;
    margin-right: 3px;
    float: right;
}
.clearfix {
    clear: both;
}
.choose_p {
    width: 368px;
}
.choose_p p {
    color: #8c8f94;
    font: 500 20px 'Lato', sans-serif;
    text-align: left;
}
.Choose>p {
    font: 500 14px 'Lato', sans-serif;
    color: #8c8f94;
    text-align: left;
    margin-top: 12%;
}

.choose_right {
    position: relative;
}
.Started {
    position: absolute;
    z-index: 2;
}
.Pro_r {
    position: absolute;
    z-index: 1;
    left: 52%;
    top: 21px;
}
.box_c {
    width: 342px;
    height: 550px;
    background-color: #ffffff;
    padding-top: 35px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.05);
}
.box_c h2, .box_r h2 {
    color: #26272d;
    text-align: center;
}
.box_c input:first-of-type, .box_r input:first-of-type  {
    width: 62px;
    padding: 4px;
    color: #26272d;
    border-radius: 22px;
    border: 1px solid #dadcdf;
    background-color: inherit;
    cursor: pointer;
    font: 800 11px 'Lato', sans-serif;
    display: block;
    margin: 25px auto;
    text-transform: uppercase;
}
.box_c p:first-of-type, .box_r p:first-of-type {
    color: #8c8f94;
    font: 500 20px 'Lato', sans-serif;
    text-align: center;
    margin-top: 58px;
}
.box_c p:nth-of-type(2), .box_r p:nth-of-type(2) {
    color: #26292c;
    font: 600 16px 'Lato', sans-serif;
    text-align: center;
    margin-top: 58px;
}
.box_c p:nth-of-type(3), .box_r p:nth-of-type(3), .box_r p:nth-of-type(4) {
    color: #26292c;
    font: 600 16px 'Lato', sans-serif;
    text-align: center;
    margin-top: 22px;
}
.box_c i, .box_r i {
    color: #74c959;
    font-size: 14px;
    margin-right: 8px;
}
.box_c input:last-of-type {
    width: 212px;
    padding: 3.2%;
    color: #ffffff;
    background-color: #267df4;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 500 16px 'Lato', sans-serif;
    letter-spacing: 1px;
    margin: 85px auto 0 auto;
    display: block;
}
.box_r {
    width: 328px;
    height: 508px;
    background-color: #ebebed;
    padding-top: 35px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.box_r input:last-of-type {
    width: 212px;
    padding: 3.2%;
    color: #267df4;
    background-color: inherit;
    border-radius: 22px;
    border: 1px solid #267df4;
    cursor: pointer;
    font: 500 16px 'Lato', sans-serif;
    letter-spacing: 1px;
    margin: 47px auto 0 auto;
    display: block;
}

.Subscribe h2 {
    font: 500 42px 'Varela', sans-serif;
    color: #26272d;
    padding-top: 9%;
    text-align: center;
}
.Subscribe form {
    width: 55%;
    height: 49px;
    border: 1px solid #cbcbce;
    margin: 3.5% auto 2.5% auto;
    border-radius: 37px;
}
.Subscribe form input:first-of-type {
    width: 35%;
    border: none;
    box-shadow: none;
    color: #3a3d4b;
    background: inherit;
    font: 500 16px 'Lato', sans-serif;
    margin-top: 7px;
    margin-left: 14px;
    float: left;
}
.Subscribe form input:last-of-type {
    width: 165px;
    height: 42px;
    padding: 12px 51px 12px 30px;
    color: #ffffff;
    background-color: #6fc754;
    background-image: url("frcst_img/inhut_arrow.png");
    background-repeat: no-repeat;
    background-position: 129px 14px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font: 500 16px 'Lato', sans-serif;
    float: right;
    margin-top: 3px;
    margin-right: 4px;
}
.Subscribe p {
    color: #93969a;
    font: 500 14px 'Lato', sans-serif;
    text-align: center;
}


#hr_ln_footer {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 5.5%;
    margin-top: 5.5%;
}

.footer_p p {
    font: 500 14px 'Lato', sans-serif;
    text-align: left;
    margin: 12% 0;
}
.footer_p {
    width: 250px;
}

#footer_left h4 {
    font: 500 18px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #26272d;
}
#footer_left h4 span {
    font: 600 18px 'Lato Bold', sans-serif;
}

#footer_left button {
    width: 138px;
    color: #ffffff;
    background-color: #131315;
    border-radius: 8px;
    padding: 2px 0 7px 0;
    border: none;
    cursor: pointer;
    line-height: 16px !important;
    font: 600 18px 'Lato', sans-serif;
    display: block;
    margin-top: 20px;
    margin-bottom: 24px;
}

#footer_left span {
    font: 500 11px 'Lato', sans-serif;
}

#footer_left button i {
    display: block;
    float: left;
    font-size: 27px;
    margin-top: 6px;
    margin-left: 9px;
}

#footer_left button:hover {
    color: #5cb85c;
    background-color: #245269;
}

#footer_left li i {
  font-size: 18px;
    color: #bdbec0;
}

.footer_right a {
    font: 500 16px 'Lato', sans-serif;
    color: #adafb2;
    padding: 10px 5px !important;
}

.footer_right_top a {
    font: 600 12px 'Lato', sans-serif;
    text-transform: uppercase;
    color: #4e4f54;
    margin-top: 20px;
}

#hr_ln_footer_2 {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 2%;
    margin-top: 5.5%;
}
.bottom_ p:first-of-type {
    font: 500 14px 'Lato Regular', sans-serif;
    text-align: left;
    float: left;
    padding-top: 14px;
    margin-bottom: 33px;
}
.bottom_2 {
    color: #26272d;
    font: 500 9px 'Lato Bold', sans-serif !important;
    text-transform: uppercase;
}
.bottom_2 img {
    padding-bottom: 9px;
    padding-left: 8px;
}




@media (max-width: 1200px) {
    .lft_1 img {
        width: 100%;
        left: -27%;
        top: 170px;
    }
    .lft_2 h2 {
        padding: 25% 0 10% 0;
    }
    .wrap_cont_3 {
        background: none !important;
    }
    .rght_2 img {
        display: block !important;
        width: 100%;
        position: absolute;
        left: 30px;
        top: 240px;
    }

    #datepckr {
        padding-top: 43%;
        margin-left: 7%;
    }
    .arr {
        width: 130px;
        margin: 0 auto;
        padding-top: 100px;
    }

    .arr_l {
        left: 5%;
        top: 120px;
    }
    .arr_r {
        left: 90%;
        top: 120px;
    }

    .choose_p {
        width: 300px;
    }
    .box_c {
        width: 322px;
        height: 535px;
    }
    .Pro_r {
        left: 59%;
        top: 21px;
    }
    .box_r {
        width: 290px;
        height: 490px;
    }
    .box_r input:last-of-type {
        margin: 30px auto 0 auto;
    }
}


@media (max-width: 1100px) {
    .lft_1 img {
        left: -16%;
        top: 178px;
    }
    .lft_2 p {
        color: black;
    }
    .rght_2 img {
        left: 2px;
        top: 240px;
    }

    #datepckr {
       display: none;
    }
    #d_inpt input {
       /* margin-top: 52%;
        margin-left: 29%;*/
        margin: 46% auto;
    }
    #d_inpt input {
        display: block !important;
    }

    #choose {
        padding: 10% 0 20% 0;
    }
    .Pro_r {
        left: 52%;
    }
    .bordr_2 {
        width: 92%;
        margin-bottom: 75px;
    }
    .choose_p {
        width: 300px;
    }
    .box_c {
        width: 280px;
        height: 525px;
    }
    .box_r {
        width: 270px;
        height: 480px;
    }
    .box_r input:last-of-type {
        width: 150px;
        padding: 3.2%;
        margin: 25px auto 0 auto;
    }
}

@media (max-width: 992px) {

    #main-nav .nav > li > a {
        padding: 13px !important;
    }

    .header h1 {
        font: 500 45px 'Lato', sans-serif;
        margin-bottom: 20px !important;
    }
    .lft_1 img {
        width: 100%;
        left: -37%;
        top: 186px;
    }
    .rght_2 img {
        left: 50px;
        top: 166px;
    }

    .c_4 p {
        padding-left: 25%;
        margin-bottom: 15%;
    }

    .form h5 {
        padding-top: 15% !important;
    }

    .bordr {
        width: 62%;
    }

    .get_5 input:first-of-type {
        width: 42%;
    }

    #choose {
        padding: 10% 0 14% 0;
    }
    .Choose h2 {
        font: 600 32px 'Varela', sans-serif;
        margin-top: 16%;
        margin-bottom: 24%;
    }
    .box_c {
        width: 95%;
        height: 480px;
    }
    .choose_p {
        width: 100%;
    }
    .choose_p p {
        font: 500 16px 'Lato', sans-serif;
    }
    .bordr_2 input:first-of-type {
        width: 95px;
        height: 42px;
        padding: 12px 20px 12px 20px;
        border-radius: 22px;
        font: 500 14px 'Lato', sans-serif;
        margin-top: 3px;
        margin-left: 3px;
        float: left;
    }
    .bordr_2 input:last-of-type {
        width: 95px;
        height: 42px;
        padding: 12px 20px 12px 20px;
        background-color: inherit;
        color: #a2a3a5;
        border-radius: 22px;
        border: none;
        box-shadow: none;
        cursor: pointer;
        font: 600 14px 'Lato', sans-serif;
        margin-top: 3px;
        margin-right: 3px;
        float: right;
    }
    .Choose>p {
        margin-top: 22%;
    }

    .box_c input:last-of-type {
        width: 170px;
        padding: 3.2%;
        margin: 55px auto 0 auto;
    }

    .Pro_r {
        left: 50%;
        top: 18px;
    }
    .box_r {
        width: 250px;
        height: 450px;
    }
    .box_r p:nth-of-type(2) {
        margin-top: 44px;
    }
    .box_r p:first-of-type {
        margin-top: 39px;
    }
    .box_r input:last-of-type {
        margin: 15px auto 0 auto;
    }
    .box_c input:last-of-type {
        margin: 37px auto 0 auto;
    }
    .Subscribe form {
        width: 85%;
        height: 49px;
    }

}



@media (max-width: 860px) {
    .rght_2 img {
        left: 0;
        top: 166px;
    }

}


@media (max-width: 767px) {

    .header a {
        margin: 60px auto 70px auto;
    }

    #main-nav_c {
        padding-bottom: 15px;
    }

    #main-nav_r {
        text-align: center;
    }

    #main-nav {
        text-align: center;
    }

    #main-nav_r input {
        margin-top: 10px;
    }

    .header {
        padding: 10px 30px 297px 30px;
    }

    .header p {
        font: 500 20px 'Lato', sans-serif;
        color: #8c8f94;
        text-align: center;
    }

    .header input {
        width: 180px;
        padding: 10px 18px;
        color: #26272d;
        border-radius: 22px;
        border: 1px solid #dadcdf;
        background-color: inherit;
        cursor: pointer;
        font: 500 16px 'Lato', sans-serif;
        margin-left: 30%;
        margin-top: 20px;
    }

    .header img {
        width: 33.5%;
        left: 33.5%;
    }

    .lft img, .rght {
        padding-top: 5%;
    }

    .lft h3 {
        padding: 1% 0;
    }

    .lft p:last-child {
        padding-top: 1%;
    }

    .rght_1 {
        padding-left: 0;
    }

    .lft_1 img {
        width: 100%;
        left: -5%;
        top: 15px;
    }

    .rght_1 h2 {
        font: 500 42px 'Varela', sans-serif;
        color: #26272d;
        padding: 100% 0 11% 0;
    }

    .lft_2 h2 {
        padding: 5% 0 5% 0;
    }

    .rght_2 img {
        position: absolute;
        left: 0;
        top: 20px !important;
    }

    .rght_2 {
        padding-bottom: 64%;
    }

    .lft_2 p:last-of-type {
        padding-top: 3%;
    }

    .lft_2 p {
        color: #8c8f94;
    }

    .wrap_cont_3 {
        background-image: none !important;
    }

    .lft_2 {
        padding: 0;
    }

    .rght_2 img {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 394px;
    }

    .l_4 img, .c_4 img, .r_4 img {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 10%;
    }

    .im_before img, .im_after img {
        display: none;
    }

    .c_4 p {
        font: 500 14px 'Lato', sans-serif;
        margin-bottom: 30%;
    }

    .c_4_in {
        padding: 34% 25%;
        position: absolute;
    }

    .form h5 {
        margin-top: 25%;

    }

    .l_4 a {
        position: absolute;
        width: 48%;
        padding: 4%;
        border-radius: 22px;
        left: 25.5%;
        bottom: 13%;
    }

    #datepckr {
        display: block;
        padding-top: 38%;
        margin-left: 30%;
    }
    #d_inpt input {
        display: none !important;
    }

    .bordr {
        width: 76%;
    }

    .get_5 input:first-of-type {
        width: 47%;
    }
    .Choose h2 {
        font: 500 42px 'Varela', sans-serif;
        margin-top: 2%;
        margin-bottom: 10%;
        text-align: center;
    }
    .Choose h4 {
        margin: 6% 0 3% 6%;
    }
    .bordr_2 {
        width: 78%;
        height: 50px;
        border: 1px solid #cbcbce;
        border-radius: 37px;
        margin-bottom: 21%;
    }
    .bordr_2 {
        width: 300px;
        border: 1px solid #cbcbce;
        border-radius: 37px;
        margin: 5px;
    }
    .bordr_2 input:first-of-type {
        width: 130px;
        height: 42px;
        padding: 12px 51px 12px 30px;
    }
    .choose_p p {
        color: #8c8f94;
        font: 500 20px 'Lato', sans-serif;
        text-align: center;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .Choose>p {
        margin: 0;
        text-align: center;
    }
    .Started {
        position: static;
        margin-top: 5%;
    }
    .Pro_r {
        position: static;
    }
    .box_c {
        width: 85%;
        height: 500px;
        margin: 0 auto;
    }
    .box_r {
        width: 85%;
        height: 500px;
        margin: 10% auto 10% auto;
        border-radius: 10px;
    }
    #footer_left {
        text-align: center;
    }
    #footer_left .nav > li{
    display: inline-block;
    }
    #footer_right {
        text-align: center;
    }
    .footer_ri_ul > li{
        display: inline-block;
    }
}


@media (max-width: 600px) {

    .form h5 {
        margin-top: 10%;

    }

    #datepckr {
        padding-top: 25%;
        margin-left: 22%;
    }

    .bordr {
        width: 90%;
    }

    .get_5 input:first-of-type {
        width: 52%;
    }

    #UI_kit_p {
        width: 90%;
    }
    .Subscribe form {
        width: 97%;
        height: 49px;
    }
}



@media (max-width: 450px) {

    #datepckr {
        display: none;
    }

    #d_inpt input {
        display: block !important;
        margin: 28% auto;
    }
    .c_4 p {
        margin-bottom: 15px !important;
    }

    .form p {
        margin-bottom: 15px !important;
    }

    .get_5 input:first-of-type {
        width: 85%;
        float: none;
    }

    .bordr {
        width: 90%;
        height: 110px;
        border: 1px solid #cbcbce;
        margin: 0 auto;
        border-radius: 5px;
    }
    .bordr_2 {
        width: 90%;
        height: 100px;
        border-radius: 10px;
        margin: 5px;
    }
    .bordr_2 input:first-of-type {
       float: none;
    }
    .Subscribe form {
        width: 97%;
        height: 100px;
        border-radius: 5px;
    }
    .Subscribe form input:first-of-type {
        float: none;
        width: 90%;
    }

}

@media (min-width: 768px) {
    .rght_2 img {
        display: none;
    }
}


@media (min-width: 451px) {
    #d_inpt input {
        display: none;
    }
}

@media (max-width: 370px) {

    #main-nav_r .nav > li > a {
        padding: 20px;
    }

    #main-nav_r button {
        margin-top: 10px;
    }

    #top_left li {
        float: none;
    }

    #main-nav .nav > li > a {
        position: relative;
        display: block;
        padding: 15px;
    }

    .header {
        padding: 10px 10px 202px 10px;
    }

    .header h1 {
        font: 500 20px 'Lato', sans-serif;
        margin-bottom: 20px !important;
    }

    .header p {
        font: 500 18px 'Lato', sans-serif;
    }

    .header input {
        width: 180px;
        padding: 10px 18px;
        display: block;
        margin: 13px auto 10px auto;
    }
    .wrap_cont_4 h2 {
        margin-top: 30px;
    }

    #im img {
        width: 60% !important;
        height: auto;
        border-top-left-radius: 14%;
        border-top-right-radius: 14%;
        position: absolute;
        left: 19.5% !important;
        bottom: 0;
    }

    .c_4_in {
        width: 100%;
        height: 105% !important;
        padding: 34% 21%;
        position: absolute;
    }


    .form p {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .form input {
        margin-bottom: 0;
    }

    .lft_2 img {
        margin-bottom: 10px;
    }
}

@media (max-width: 335px) {
    .c_4_in {
        padding: 29% 21%;
    }

    .form h5 {
        margin-top: 0%;
    }
}

@media (max-width: 335px) {
    .c_4 p {
        font: 500 12px 'Lato', sans-serif;
    }
}
